option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "tenants_aws.settings"
    "PYTHONPATH": "/opt/python/current/app/tenants_aws:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: tenants_aws/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "/static/"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate_schemas --fake"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic"