option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "tenants_aws.settings"
    "PYTHONPATH": "/opt/python/current/app/tenants_aws:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: tenants_aws/wsgi.py
    NumProcesses: 3
    NumThreads: 20

container_commands:
  01_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate_schemas --shared"
    leader_only: true
  03_create_folder:
    command: "mkdir TEST"
    leader_only: true